.about-us {
    display: flex;
    position: relative;
    margin-top: 400px;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background-image: url(../../assets/G.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25% auto;
}

.about-us__arrow {
    transform: scaleX(-1);
    top: 0;
    margin-left: auto;
    display: block;
    margin-right: 40px;
    margin-bottom: 30px;
}

.our-history__arrow {
    margin-bottom: 30px;
}