.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    gap: 180px;
    padding: 30px 0;
}

.header__logo h2 {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    font-family: var(--cormorant-upright);
}

.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
    padding-left: 200px;
    padding-right: 100px;
    font-size: 18px;
    opacity: 0.8
}

.login {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 18px;
    opacity: 0.8
}